<header>
  <a href="/threads/">
    <button>Go To Threads</button></a>
  <br>
  <a href="/users/">
    <button>Go To Users</button></a>
  <br>
  <a href="/users/login"><button>Login</button></a>
  <% if (currentuser) { %>
    <a href="/users/logout"><button>Log Out</button></a> Welcome, <%= currentuser.username %>.
    <% }else{%>
    <p>Not logged in Header Stuff Here</p>
  <%}%>

  </header>
