<header>
  <a href="/threads/">
    <button>Go To Threads</button></a>
  <br>
  <a href="/users/">
    <button>Go To Users</button></a>
  <br>
  <a href="/users/login"><button>Login</button></a>
  <a href="/users/register"><button>Register</button></a>
  <% if (currentuser) { %>
    <a href="/users/logout"><button>Log Out</button></a> Welcome, <%= currentuser.username %>.
    <% }else{%>
    Not logged in
  <%}%>
  <hr>
  </header>
