<header>
  <% if (username) { %>
    Welcome, <%= username %>. <a href="/user/logout"><button>Log Out</button></a>
    <% } %>
  <%if (username===null) {%>
    <p>Login to Post a New Story Thread!</p>
  <%}%>
  <a href="/user/login"><button>Login</button></a>
  </header>
