body{
  background-color: #FFFBD1;
  font-family: "Bungee", cursive;
  font-size: 1.5em;
}
p,h1,h2,h3,button,input.submit{
  font-family: "Bungee", cursive;
}
form input{
  font-size: 1.3em;
  height: 50px;
  width: 300px;
}
button{
  font-size: 1.1em;
}
img{
  height: 180px;
  width: 40px;
}
h3.showend{
  /*text-align: center;*/
}
.indeximg{
  width: 200px;
  height: 200px;
}
.indexbutton{
  width:240px;
  height: 400px;
  border-radius: 15px;
}

.indexbutton h2{
  font-size: 1em;
}
.indexdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.indexitem{
  margin: .2em;
}
.userdiv{
  margin: .2em;
}
.userdiv button{
  width: 200px;
  height: 100px;
}
/*nav*/
.universal{
}
.navul{
  /*font-size: 40px;*/
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  list-style-type: none;
  margin: 0;
  border-radius: 15px;
  border: 1px solid #EDFFD1;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: #B6CC93;
}
.navul li{
  display: inline;
}


.navul li a button{
    font-family: 'Bungee', cursive;
    font-size: 1.5em;
    border-radius: 1em;
    width:200px;
    height:100px;
    text-transform: capitalize;
    color: white;
    background-color: #6390FF;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}

.navul li a button:hover {
    background-color: #6367FF;
    cursor: pointer;
}
a button:hover {
    background-color: darkgray;
    cursor: pointer;
}
input.submit:hover {
    background-color: darkgray;
    cursor: pointer;
}
button.submit:hover {
    background-color: darkgray;
    cursor: pointer;
}



.storypiece{
  padding: 0;
  margin: 0;
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  overflow:hidden;
  border-right:2px solid black;
}
.textpiece{
  float: right;
  height: auto;
  flex-basis: 79%;
}
.textpiece p{
  margin: auto;
  font-size: 2em;
}
.imgpiece{
  box-sizing: border-box;
  padding: 0px;
  flex-basis: 21%;
  display: inline-flex;
  border-right: 2px solid black;
  border-left: 2px solid black;
  margin: 0;
  float: left;
  overflow:hidden;
  background-size: cover;
}
.imgpiece img{
  flex-basis: 100%;
  visibility: hidden;

  /*position: inherit;*/
}
.storypiece::after{
  height:inherit;
}
.storypiece strong{
  color:gray;
}
.storypiece .content{
  /*float: left;*/
}
hr{
  border-color: black;
  width: 100%;
  margin:0;
  padding: 0;
  border: 1px solid black
}
.allpieces{

  display: flex;
  flex-flow: column;
  justify-content: center;
}
.thefoot{
  text-align: center;
  width: 100%;
  color: white;
  background-color: black;
}

.profilepic{
  width:300px;
  height: 300px;
}

@media (max-width:615px) {
  ul.navul{
    height:240px;
  }
}
@media (max-width:310px) {
  ul.navul{
    height:360px;
  }
}
@media (max-width:480px) {
  ul.navul{
    height:400px;
  }
}
