<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/user.ejs %>

    <div class="indexbuttons">
      <a href="/threads/new"><button>New Story</button></a>
      <%if (username ==="admin") {%>
        <a href="/threads/seed"><button>Seed</button></a>
        <a href="/threads/deleteall"><button>Delete All</button></a>
      <%}%>

    </div>

    <%# for loop%>
    <%for (let i of threads) { %>
      <a href="/threads/<%=i.id%>">
      <button class="indexbutton" >
      <h2><%=i.title||"No Title"%></h2>
      <img class="indeximg" src= "<%=i.url %>" onerror="this.src = 'https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg';"/>
      <p>Views: <%=i.views%></p>
      </button>
      </a>
      <%}%>
    </body>
    </html>
