<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <a href="/threads/"><button>Go To Threads</button></a>
  <br>
  <p>Enter Your Username and Password(Case Sensitive)</p>
  <p><%=message%></p>
  Login:
  <br>
  <form action="/user/login" method="post">
    Username: <input name="username" /> <br />
    Password:  <input name="password" /><br />

    <button type="submit">Login</button>
  </form>
  Register:
  <br>
  <form action="/user/register" method="post">
    Username: <input name="username" /> <br />
    Password:  <input name="password" /><br />

    <button type="submit">Register</button>
  </form>
</body>
</html>
