<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/user.ejs %>

  <a href="/threads/"><button>Go Back</button></a>

  <h2><%=currentuser.username%></h2>
  <form action="/threads/" method="POST">
    title: <input type="text" name="title" value="<%=currentuser.username%>s title" /><br/>

    Start The Story!: <input type="text" name="start" value="I don't know how it started.." /><br/>

    Image Url: <input type="text" name="url" value="http://davidnaylor.org/temp/thunderbird-logo-200x200.png" />

    <input type="hidden" name="views" value="0" />
    <input type="hidden" name="id" />
    <input type="hidden" name="user" value="<%=currentuser.id%>" />
    <input type="hidden" name="lastuser" value="<%=currentuser.id%>" />

    <input type="submit" value="Create thread" />
  </form>
</body>
</html>
