<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/user.ejs %>

  <a href="/threads/"><button>Go Back</button></a>

  <h2>Lets Make A New Story <%=currentuser.username%>!</h2>
  <form action="/threads/" method="POST">
    Title: <input type="text" name="title" value="<%=currentuser.username%>s title" /><br/>

Start The Story! <br>
    <textarea rows="4" cols="50" name="start">
How the story started..?
Well I don't know how it started
    </textarea><br/>

    Image Url: <input type="text" name="url" value="http://davidnaylor.org/temp/thunderbird-logo-200x200.png" />

    <input type="hidden" name="views" value="0" />
    <input type="hidden" name="id" />
    <input type="hidden" name="user" value="<%=currentuser.id%>" />
    <input type="hidden" name="lastuser" value="<%=currentuser.id%>" />

    <input class="submit" type="submit" value="Create Thread" />
  </form>
  <% include ../partials/footer.ejs %>
</body>
</html>
