<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/user.ejs %>

  <%if (currentuser) {%>
    <%if (currentuser.admin ===true) {%>
      <a href="/users/deleteall"><button>Delete All</button></a>
    <%}%>
  <%}%>

  <br>

    <%# for loop%>
    <div class="indexdiv">
    <%for (let user of users) { %>

      <div class="userdiv">
      <a href="/users/<%=user.id%>">
      <button>
      <h2><%=user.username%></h2>
      </button>
      </a>
      </div>
      <%}%>


    </div>
    </body>
    </html>
