<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/user.ejs %>
  <p>Enter Your Username and Password(Case Sensitive)</p>
  <p><%=message%></p>
  Login:
  <br>
  <form action="/users/login" method="post">
    Username: <input name="username" /> <br />
    Password:  <input type= "password" name="password" /><br />

    <button type="submit">Login</button>
  </form>
  Register:
  <br>
  <form action="/users/register" method="post">
    Username: <input name="username" /> <br />
    Password:  <input type="password" name="password" /><br />

    <button type="submit">Register</button>
  </form>
</body>
</html>
