<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/user.ejs %>
  <a href="/users/"><button>Go Back</button></a>
  <p>Enter Your Username and Password(Case Sensitive)</p>
  <p css="color:red"><%=message%></p>
  Login:
  <br>
  <form class="userdata" action="/users/login" method="post">
    Username: <input name="username" placeholder="username" />  <br />
    Password:  <input type="password" name="password" placeholder="password" /><br />

    <button class="submit" type="submit">Login</button>
  </form>
  <h3>Register Instead:</h3>
  <a href="/users/register"><button>Go To Register Page</button></a>
</body>
</html>
